/* ----------------------------------------------------------------------------------------------------------
IMPORT Y APUNTES
------------------------------------------------------------------------------------------------------------*/

/* Import del reset de Eric Meyer */
@import url(reset.css);

/* Import de las fuentes de Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Handlee|Montserrat:400,700&display=swap&subset=latin-ext');

/*
    TIPOGRAFÍAS:
    font-family: 'Montserrat', sans-serif;
    font-family: 'Handlee', cursive;

    COLORES:
    Rojo: #FA573A;
    Azul: #21242E;
*/

/* :root es para crear variables en CSS */

/* ----------------------------------------------------------------------------------------------------------
ESTILOS GENERALES
------------------------------------------------------------------------------------------------------------*/

/* Los containers */
.container {
    max-width: 1100px;
    /* Otra opción es width: 80% */
    margin: 0 auto;
    padding: 0 3%;
}

.container-fluid {
    width: 100%;
}

/* El border box (no viene en el reset de Eric Meyer) */
* {
    /* Chrome */
    box-sizing: border-box;
    /* Safari */
    -webkit-box-sizing: border-box;
    /* Firefox */
    -moz-box-sizing: border-box;
    /* Opera */
    -o-box-sizing: border-box;
    /* Internet Explorer */
    -ms-box-sizing: border-box;

    /* Para que el go-to-top vaya más fino */
    scroll-behavior: smooth;
}

/* La fuente para el body */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

/* Para resetear las flotaciones */
.row:after {
    clear: both;
    content: "";
    height: 0;
    display: block;
}

/* Imagenes responsive */
img {
    width: 100%;
    height: auto;
    display: block;
}

/* ----------------------------------------------------------------------------------------------------------
ESTILOS HOME
------------------------------------------------------------------------------------------------------------*/

/* Header superior */
header .nav-top {
    background-color: #21242E;
    padding: 20px 0;
}

header .nav-top .container div {
    float: left;
    width: 25%;
}

header .nav-top a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

header .nav-top a span {
    display: none;
}

header .nav-top a i {
    color: #FA573A;
}
header .nav-top a:hover i {
    color: white;
}

header .nav-top .container div:nth-child(3), header .nav-top .container div:last-child {
    text-align: right;
}

/* Menú de navegación cabecera */

header nav {
    padding: 20px 3%;
}

header .hamburguesa {
    cursor: pointer;
    float: right;
}

header .hamburguesa div {
    border-top: 2px solid #aaa;
    width: 1.875em;
    margin-bottom: 0.625em;
    transition: .5s;
}

header .hamburguesa:hover div {
    border-top: 2px solid #FA573A;
    width: 1.875em;
    margin-bottom: 0.45em;
}

header nav .logo {
    float: left;
    width: 100px;
}

header nav .menu {
    padding-top: 60px;
}

header nav .menu li {
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid #aaa;
}

header nav .menu li:last-child {
    border-bottom: none;
}

header nav .menu li a {
    text-decoration: none;
    color: #aaa;
    /* Para que todo el botón sea clickable, no solamente el Item */
    display: block;
}

/* Como en los móviles no existe el hover, usamos la clase activa para que se vea en los móviles en qué categoría estás */
header nav .menu li a.activo,
header nav .menu li a:hover {
    color: #FA573A;
}

/* Inicio del Hero */

.hero {
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-position: center;
    height: 37em;
    /* Para hacer una capa de fondo */
    background-color: #555;
    background-blend-mode: multiply; 
}

.hero div {
    color: white;
    padding: 15% 3%;
}

.hero h1 {
    font-family: 'Handlee', cursive;
    font-size: 2.5em;
}

.hero h2 {
    color: #FA573A;
    font-size: 1.25em;
    margin: 1em 0;
}

.hero p {
    font-size: 1.15em;
    color:white;
}

.boton {
    display: inline-block;
    background-color: #FA573A;
    padding: 1.15em;
    color: white;
    text-decoration: none;
    margin: 1em 0;
    border: 1px solid #FA573A;
}

.boton i {
    margin-left: 5px;
}

.boton:hover {
    background-color: transparent;
    color: #FA573A;
}

.boton:hover i {
    transform: translateX(5px);
    /* Aplicamos la regla transition solamente al transform, para que la flecha cambie de color inmediatamente pero la transición la haga de 1s */
    transition: transform 1s;
}

.hero ul li {
    display: inline-block;
    font-size: 1.5em;
    padding: 10px 17px;
}

.hero ul li a {
    color: white;
}

.hero ul li a:hover {
    color: #FA573A;
}

/* Inicio del Main */

main section.container {
    padding-top: 3.125em;
}

main section h2  {
    font-family: 'Handlee', cursive;
    font-size: 2em;
    text-align: center;
}

main section h2 span {
    color: #FA573A;
}

.underline {
    position: relative;
    width: 120px;
    margin: 0 auto;
}

.underline hr {
    position: absolute;
    width: 100%;
    border-color: #FA573A;
    top: -1.5px;
}

.underline span {
    color: #FA573A;
    display: block;
    text-align: center;
    font-weight: 700;
}

/* Inicio de Our Services */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex article {
    width: 100%;
    padding: 1.825em 3%;
    border-bottom: 1px solid #aaa;
}

.flex article:last-child {
    border-bottom: none;
}

.flex article div i {
    color: #FA573A;
    font-size: 2em;
    border: 2px solid #FA573A;
    /* Lo ponemos en rem para que no aumente con los 2em que le hemos puesto al icono */
    padding: .6rem;
    box-shadow: 5px 5px 8px #aaa;
}

/* Rotar el camión de lado (lo tengo comentado porque sino la sombra también me rota y queda mal) */
/* .fa-truck {
    transform: rotateY(180deg);
} */

.flex article h3 {
    font-weight: 700;
    margin: 1em 0;
}

.flex article .enlace {
    display: inline-block; 
    color: #FA573A;
    margin: 1em 0;
    text-decoration: none;
    font-weight: 700;
}

.flex article i {
    margin-left: 3px;
}

.flex article .enlace:hover i {
    transform: translateX(5px);
    transition: 1s;
}

/* Inicio de About Us */

.flex .columna {
    width: 100%;
    padding-top: 6em;
}

.flex .imagen {
    width: 85%;
    margin: 0 auto;
}

/* Roto el marco */
.flex .marco {
    border: 3px solid #FA573A;
    background-color: transparent;
    transform: rotateZ(10deg);
    transition: 1s;
}

/* Dejo la imagen en la posición original, ya que si roto el marco en la sentencia de antes, también roto la imagen con él */
.flex .marco img {
    transform: rotateZ(-10deg);
    transition: 1s;
}

.flex .imagen:hover .marco,
.flex .imagen:hover .marco img {
    transform: rotateZ(0deg);
}

.flex .columna h3 {
    font-weight: 700;
}

.flex .columna h4 {
    color: #FA573A;
    margin: 0.5em 0;
}

p {
    color: #555;
    line-height: 1.5em;
}

/* Inicio de Footer */
footer {
    background-color: #21242E;
    padding: 1.825em 0;
}

footer p {
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #FA573A;
    text-decoration: underline;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

/* MEDIA QUERIES HOME */

/* Hemos empezado en mobile first, por tanto la versión móvil ya está hecha. Ahora tenemos que establecer los breakpoints para tablet y desktop.
Normalmente es hacer saltos no más de 300px.
*/

/* 769px = 48.063em --> TABLET PEQUEÑA */
@media (min-width: 48.063em) {
    /* Pasamos de display: none a display: inline */
    header .nav-top a span {
        display: inline;
        font-size: .6em;
    }

    /* Ponemos dos artículos en una fila y el tercero a ancho completo en la siguiente fila */
    .flex article {
        width: 50%;
        padding: 1.825em 3%;
        border-bottom: none;
        border-left: 1px solid #aaa;
        margin-bottom: 2em;
    }

    .flex article:last-child {
        width: 100%;
        text-align: center;
    }

    .underline {
        margin-bottom: 2em;
    }
}

/* 1004px = 62.750em --> TABLET MEDIANA */
@media (min-width: 62.750em) {
    /* Quitamos el menú de hamburguesa */
    header .hamburguesa {
        display: none;
    }

    /* Ponemos el menú de navegación en la misma fila que el logo */
    header nav .menu {
        padding-top: 0px;
        float: right;
    }

    header nav .menu li {
        display: inline-block;
        border-bottom: none;
        text-align: left;
        padding: .5em 1em;
    }

    header nav .menu li:last-child {
        padding-right: 0em;
    }

    /* La sección de About Us la ponemos en dos columnas */
    .flex .columna {
        width: 50%;
        padding: 3em 2em;
    }
}

/* 1201px = 75.0625em --> DESKTOP */
@media (min-width: 75.0625em) {
    /* Ponemos a tres columnas la sección de Our Services */
    .flex article {
        width: 33.33333333%;
    }

    .flex article:last-child {
        width: 33.33333333%;
        text-align: initial;
    }

    /* Alineamos mejor el texto del Hero */
    .hero div {
        padding: 7% 3%;
        max-width: 1100px;
        margin: 0 auto;
    }
}

/* ----------------------------------------------------------------------------------------------------------
ESTILOS BLOG
------------------------------------------------------------------------------------------------------------*/
main .container .flex .post {
    border-bottom: none;
}

main .container .flex .post a:hover>div {
    box-shadow: 5px 5px 8px #aaa;
}

main .container .flex article div {
    position: relative;
}

main .container .flex article div .fecha {
    position: absolute;
    top: 0;
    background-color: rgba(238, 75, 46, 0.6);
    font-size: 1.2em;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}

main .container .flex article div .fecha p {
    color: white;
    margin-bottom: 10px;
}

main .container .flex article div .fecha p:last-child {
    margin-bottom: 0;
}

main .container .flex article h3 {
    font-size: 1.5em;
}

main .container .flex article .autor {
    color: #FA573A;
}

main .container .flex article .texto-post {
    color: rgb(49, 49, 49);
    margin-top: 15px;
}

/* MEDIA QUERIES BLOG */

/* 769px = 48.063em --> TABLET PEQUEÑA */
@media (min-width: 48.063em) {
    main .container .flex .post {
        width: 50%;
        text-align: initial;
    }

    main .container .flex .post {
        border-left: none;
    }
}

/* 1004px = 62.750em --> TABLET MEDIANA */
@media (min-width: 62.750em) {
    /* Nada que tocar */
}

/* 1201px = 75.0625em --> DESKTOP */
@media (min-width: 75.0625em) {
    main .container .flex .post {
        width: 33.33333333%;
        text-align: initial;
    }
}

/* ----------------------------------------------------------------------------------------------------------
ESTILOS CARTA
------------------------------------------------------------------------------------------------------------*/

.carta {
    background-color:#21242E;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3%;
    margin-bottom: 100px;
}

.carta h2, .carta h3, .carta h4 {
    color: white;
}

.carta p {
    color: #aaa;
}

.carta h2 span {
    color: #FA573A;
}

.carta .container .flex-carta {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.carta .container .flex-carta .categorias {
    width: 100%;
    padding: 30px 0px;
}

.carta .container .flex-carta .categorias a {
    text-decoration: none;
}

.carta .container .flex-carta .categorias a p {
    padding: 6px;
    border-radius: 5px;
    color: white;
}

.carta .container .flex-carta .categorias .active p {
    background-color: #FA573A;
}

.carta .container .flex-carta .categorias a:hover p {
    background-color: #FA573A;
    border-radius: 5px;
}

.carta .container .flex-carta .ofertas h3 {
    font-size: 1.3em;
    font-weight: 700;
}

.carta .container .flex-carta .ofertas>p {
    padding: 30px 0px;
}

.underline-carta {
    position: relative;
    width: 80px;
}

.underline-carta hr {
    position: absolute;
    width: 100%;
    border-color: #FA573A;
}

.carta .container .flex-carta .menu .flex-elemento .texto .flex-elemento-titulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carta .container .flex-carta .menu .flex-elemento .texto .flex-elemento-titulo h4 {
    font-size: 1em;
    font-weight: 700;
    padding: 20px 0px;
}

.carta .container .flex-carta .menu .flex-elemento .texto .flex-elemento-titulo p {
    color: #FA573A;
    font-weight: 700;
    padding: 16px 0px;
    text-align: right;
}

.carta .container .flex-carta .menu .flex-elemento .texto .enlace {
    display: inline-block; 
    color: #FA573A;
    margin: 1em 0;
    text-decoration: none;
    font-weight: 700;
}

.carta .container .flex-carta .menu .flex-elemento .texto .enlace i {
    margin-left: 3px;
}

.carta .container .flex-carta .menu .flex-elemento .texto .enlace:hover i {
    transform: translateX(5px);
    transition: 1s;
}

.carta .container .flex-carta .menu .flex-elemento {
    padding: 30px 0px;
}

/* Para que el borde no afecte a la imagen y no haga efecto raro al pasar el ratón */
.carta .container .flex-carta .menu .flex-elemento .foto a img {
    margin: 1px;
}

.carta .container .flex-carta .menu .flex-elemento .foto a:hover img {
    outline: 1px solid yellow;
}

/* MEDIA QUERIES CARTA */

/* 769px = 48.063em --> TABLET PEQUEÑA */
@media (min-width: 48.063em) {
    .carta .container .flex-carta .menu .flex-elemento {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .carta .container .flex-carta .menu .flex-elemento .foto {
        width: 40%;
    }

    .carta .container .flex-carta .menu .flex-elemento .texto {
        width: 60%;
        padding: 0px 2%;
    }
}

/* 1004px = 62.750em --> TABLET MEDIANA */
@media (min-width: 62.750em) {
    .carta .container .flex-carta {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .carta .container .flex-carta .col1 {
        width: 25%;
    }

    .carta .container .flex-carta .menu {
        width: 75%;
        padding-left: 50px;
    }

    .carta .container .flex-carta .menu .flex-elemento .texto .flex-elemento-titulo {
        flex-wrap: nowrap;
    }

    .carta .container .flex-carta .menu .flex-elemento .texto {
        padding-left: 20px;
    }
}

/* 1201px = 75.0625em --> DESKTOP */
@media (min-width: 75.0625em) {
    /* Nada que hacer */
}